html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

/* - ["@38"]
- ":hover"
- "display: grid"
- "display: flex"
- *Colours:* `#fff`, `#ff9500`, `#ff5e3a`, `rgba(255, 255, 255, .7)`
- *Icon sizes:* `8rem`
- *Line-heights:* `1.5`
- *Font-sizes:* `2rem`, `1.5rem`, `1.125rem`
- *Gaps:* `6vmin`
- *Margins:* `1.5rem`
- *Paddings:* `6vmin`, `1rem`
- *Border thicknesses:* `.2rem` */

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-right: .5rem;
  margin-top: -.5rem;
  margin-left: 1rem;
}

img {
  display: block;
  width: 100%;
}

section {
  margin: 0;
  display: block;
}

p {
  color: #fff;
  margin: 1.5rem .5rem;
  padding: 0;
  justify-content: center;
  display: flex;
}

h2,
h3 {
  color: #fff;
}

h2 {
  font-size: 2rem;
  padding: 0;
  margin-bottom: .5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  margin: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.icon {
  position: relative;
  margin-top: 1.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  fill: #fff;
}

.icon svg {
  width: 8rem;
  height: 8rem;
}

section a {
  border: .2rem solid #fff;
  color: #fff;
  text-decoration: none;
  justify-content: center;
  font-size: 1.125rem;
  padding: 1.125rem;
  display: flex;
  margin: .5rem 1rem;
  flex-wrap: nowrap;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

@media only screen and (min-width: 38em) {

  body {
    margin: 1.5rem 1.2rem .85rem;
    margin-right: .5rem;
    margin-top: -.5rem;
    margin-left: 1rem;
    background-image: linear-gradient(#ff9500, #ff5e3a);
  }

  section {
    margin: .5rem;
    padding: .5rem;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col1 col2 col3";
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  img {
    display: block;
    width: 100%;
  }

  p {
    color: #fff;
    margin: 1.5rem .5rem;
    justify-content: center;
    display: flex;
    padding: 0;
  }

  h2,
  h3 {
    color: #fff;
  }

  h2 {
    margin: 1.5rem;
    font-size: 2rem;
    margin-bottom: .5rem;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3 {
    margin: 1.3rem;
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .icon {
    position: relative;
    margin-top: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    fill: #fff;
  }

  .icon svg {
    width: 8rem;
    height: 8rem;
  }

  section a {
    border: .2rem solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    margin: 0 .5rem;
    padding: .5em 1em .6em;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1.2rem;
  }

}

@media only screen and (min-width: 60em) {

  body {
    margin: 1.5rem;
    padding: 1.7rem;
  }

  .icon {
    position: relative;
    margin-top: .5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    fill: #fff;
  }

  .icon svg {
    width: 8rem;
    height: 8rem;
  }

  section a {
    border: .2rem solid #fff;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    font-size: 1.125rem;
    padding: 1rem;
    display: flex;
    margin: .5rem 4rem;
    flex-wrap: nowrap;
    margin-top: -.5rem;
    margin-bottom: 1.5rem;
    flex-direction: row;
  }

  h2,
  h3 {
    color: #fff;
  }

  h2 {
    font-size: 2rem;
    margin: 1.3rem;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: banner;
  }

  h3 {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1.7rem;
    margin-bottom: -.5rem;
  }

  div {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "col1 col2 col3";
    grid-template-rows: 1fr;
    gap: 1rem;
    padding: .5rem;
    margin-top: 1.7rem;
  }

  img {
    display: block;
    width: 100%;
  }

  p {
    color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    margin: 1.5rem .5rem;
  }

  section p,
  section a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}
